In [1]:
import pandas as pd

### Data description

* **RegionCode:** Represents the continent code to which the country belongs.

* **RegionName:** Indicates the name of the continent to which the country belongs.

* **CountryCode:** This field provides the unique code assigned to each country.

* **CountryName:** Specifies the name of the country to which the data belongs.

* **Year:** Indicates the year to which the data corresponds.

* **Sex:** Indicates the gender of the subject.

* **AgeGroup:** Categorizes individuals into specific age ranges.

* **Generation:** Provides information about the generation to which the individuals under study belong. For example, "Baby Boomers," "Generation X," "Millennials," etc.

* **SuicideCount:** Indicates the total number of reported suicides. It is a direct measure of the number of recorded suicides.

* **CauseSpecificDeathPercentage:** This field represents the percentage of deaths specifically caused by suicide relative to the total deaths in the population. It provides a measure of the prevalence of suicides compared to other causes of death.

* **DeathRatePer100K:** Indicates the suicide rate per 100,000 inhabitants in the population under study.

* **Population:** Represents the total population in the specific category provided in the dataset.

* **GDP:** Indicates the Gross Domestic Product (GDP) of the country in the corresponding year. GDP is a measure of the economic value of all goods and services produced in a country during a specific period.

* **GDPPerCapita:** Represents the GDP per capita, which is the total GDP divided by the total population of the country in the corresponding year. It provides a measure of the average income per person in the country.

* **GrossNationalIncome:** Indicates the Gross National Income (GNI) of the country in the corresponding year. GNI is similar to GDP but also includes net income from abroad.

* **GNIPerCapita:** Represents the Gross National Income (GNI) per capita, which is the total GNI divided by the total population of the country in the corresponding year. It provides a measure of the average income per person in the country, including income from abroad.

* **InflationRate:** This field indicates the annual inflation rate of the country in the corresponding year. The inflation rate represents the percentage change in the price level of goods and services in a country during a specific period.

* **EmploymentPopulationRatio:** Represents the proportion of the employed working-age population (employment) relative to the total population of working age (usually between 15 and 64 years) in the country in the corresponding year.

In [6]:
df= pd.read_csv("data_despliegue/data_suicide_rates.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47988 entries, 0 to 47987
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          47988 non-null  int64
 1   SuicideCount                  47988 non-null  float64
 2   CauseSpecificDeathPercentage  47988 non-null  float64
 3   DeathRatePer100K              47988 non-null  float64
 4   Population                    47988 non-null  float64
 5   GDP                           47988 non-null  float64
 6   GDPPerCapita                  47988 non-null  float64
 7   InflationRate                 47988 non-null  float64
 8   EmploymentPopulationRatio     47988 non-null  float64
 9   regionname_num                47988 non-null  float64
 10  sex_num                       47988 non-null  int64
 11  agegroup_num                  47988 non-null  int64
 12  countryname_num               47988 non-null  int64
dtypes: float64(9), int64(4)
memory usage: 4.8 MB

In [12]:
df.head()

,Year,SuicideCount,CauseSpecificDeathPercentage,DeathRatePer100K,Population,GDP,GDPPerCapita,InflationRate,EmploymentPopulationRatio,regionname_num,sex_num,agegroup_num,countryname_num
0,1992,0.0,0.000000,0.000000,3247039.0,652174990.8,200.85222,226.005421,45.315,1.0,1,1,8
1,1992,5.0,3.401361,3.531073,3247039.0,652174990.8,200.85222,226.005421,45.315,1.0,1,2,8
2,1992,4.0,1.904762,3.276003,3247039.0,652174990.8,200.85222,226.005421,45.315,1.0,1,2,8
3,1992,3.0,1.357466,2.487562,3247039.0,652174990.8,200.85222,226.005421,45.315,1.0,1,3,8
4,1992,4.0,2.094241,3.202562,3247039.0,652174990.8,200.85222,226.005421,45.315,1.0,1,3,8

In [ ]:
http://localhost:8000/api?nombre=Juan&edad=30
https://lapinta1.pythonanywhere.com/?year=1990&SuicideCount=100&CauseSpecificDeathPercentage=0.5&DeathRatePer100K=15&Population=1000000&GDP=2000000&GDPPerCapita=20000&InflationRate=2.5&EmploymentPopulationRatio=0.6&regionname_num=3&sex_num=1&agegroup_num=2&countryname_num=5




employment_population_ratio = 0.6
regionname_num = 3
sex_num = 1
agegroup_num = 2
countryname_num = 5